/* reset start */
*{
  box-sizing: border-box;
}

body{
  font: 400 14px 'Lato', sans-serif;
  line-height: 1.2;
  margin: 0;
  color: #444444;
}

a{
text-decoration: none;
color: inherit;
outline: none;
cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0;
}

img {
max-width: 100%;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: 400;
}

.table>tbody>tr>td {
  border: none;
}
/* reset finish */


/* default start */
.d-flex{
  display: flex;
}

.d-none {
  display: none !important;
}

.d-block {
display: block !important;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.full-height {
  height: 100vh;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-btw{
  justify-content: space-between;
}

.reverce {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.uppercase {
  text-transform: uppercase;
}

.m-l-10 {
  margin-left: 10px;
}

.main {
  margin-top: 230px;
  margin-bottom: 30px;
}

.inner {
  margin: 0 15px;
}

.container-fluid {
  background-color: #FFC229;
  height: 457px;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

/* default finish */

.search {
  background: #F8F9FC;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.search .input-group {
  margin: 15px;
}

.form-control {
  height: 40px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 3px !important;
}

.btn .fa-search {
width: 12px;
margin-right: 6px;
}

.btn-default {
  border: none;
  margin: 15px;
}

.btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default:focus {
  background-color: #fff !important;
}

.btn-light {
  border: 1px solid #FFC329;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 25px;
}
.btn.btn-light.large {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-light:hover {
background: #FFC329;
}

.btn-light:hover path {
fill: #fff;
}

.btn-light svg {
  margin-left: 10px;
}

.btn-orange {
  background-color: #FFC83C;
  box-shadow: 0px 2px 6px rgba(84, 84, 84, 0.12);
 padding: 10px 55px; 
}

.btn.btn-orange.large {
  padding: 16px;
}

.input-group .btn-orange {
  margin-left: 15px !important;
}

.btn-noir {
  background-color: #444444;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding: 16px 25px;
}

.btn-noir:hover {
  color: #ffffff;
}

.btn-noir .fa-envelope {
color: #FFC329;
}

.btn .fa-envelope {
  color: #ffffff;
  margin-right: 10px;
}

.btn .fa-map-marker-alt {
  color: #FFC83C;
  margin-right: 6px;
}

.btn .caret {
  margin-left: 45px;
}

.btn-light-yellow {
  border: 2px solid #FFC329;
  padding: 10px 35px;
  color: #9e9e9e;
}

.btn-transparent {
  border: 1px solid #D4D9E9;
border-radius: 3px;
color: #7D87A6;
padding: 7px 20px;
font-weight: 400;
}

.btn-transparent img {
  margin-right: 10px;
}

.btn-blond {
  font-weight: 700;
font-size: 12px;
text-transform: uppercase;
background: #F8F9FC;
border-radius: 6px;
padding: 18px 45px;
}

.warning {
  border: 2px solid #FFC329;
  padding: 0 25px;
  margin-bottom: 10px;
}

.warning-img {
  margin: 20px 0;
}

.warning-text {
  line-height: 1.2;
}

.warning-text span {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 5px;
}

.excavator {
  background: linear-gradient(89.49deg, #FF9C07 1.31%, #FFC329 49.39%);
border-radius: 3px;
margin-bottom: 40px;
position: relative;
}

.excavator-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.9;
  color: #ffffff;
  text-shadow: 0px 1px 2px #553E09;
  margin-top: 20px;
}

.excavator .btn {
  margin-top: 35px;
  margin-left: -15px;
}
.excavator-description {
  margin-bottom: 35px;
}

.service-card > label {
  box-shadow: 0px 3px 8px rgba(90, 86, 81, 0.15);
  padding:20px 25px 0 25px;
  cursor: pointer;
  width: 100%;
}

.table-index {
  margin-bottom: 10px;
}

.table-index tr {
  border-bottom: 1px dashed #E5E5E5;
}
.table-index td {
  border: none;
}
.table-index .fas {
color: #E5E5E5;
margin-right: 10px;
}

.fa-clock {
  margin-right: 10px;
  color: #FFC329;
}

.table-index .fa-bookmark {
  margin-right: 10px;
  font-size: 12px;
  color: #1C1C1C;
}

.table-head {
  height: 60px;
}

.table-body {
  height: 40px;
}

.table-index .table-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.table-heading, .table-head span {
  font-weight: 700;
}

.table-data {
  color: #777777;
}

.contacts {
  box-shadow: 0px -4px 4px rgba(212, 217, 233, 0.29);
  margin-left: -25px;
  margin-right: -25px;
}

.contacts a {
 text-decoration: underline;
}

.contacts a:hover {
  color: #FFC329;
}

.contacts-text {
  padding: 25px 0;
}

.service-card > label:hover {
  border: 2px solid #FFC329;
  overflow: hidden;
}

.service-card > label:hover .fa-star {
  color: #FFC329;
}

.service-card > label:hover .table-name {
  text-decoration: underline;
}

.pagination-section {
margin: 0 -15px;

}

.pagination>li>a{
  border: none;
  color:  #777777;
  width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
}

.pagination>li>a:hover {
  background-color: #F8F9FC;
  color: #777777;
}

.pagination>li>a:focus {
color: #000000;
border-bottom: 4px solid #FFC329;
background: transparent;
}

.pagination>li:first-child>a:focus, .pagination>li:last-child>a:focus, .pagination>li>a.arrow:focus{
border: none;
background: transparent;
}

.pagination>li:first-child>span {
  border: none;
  color: #777777;
  cursor: default;
}
.pagination>li:first-child>span:hover {
  background: transparent;
}

.banners {
  margin-bottom: 30px;
}

.banner-left {
  background-color: #D4D9E9;
  border-radius: 3px;
  position: relative;
  margin-top: 20px;
}

.banner-left::after {
  content: '';
  background-image: url('../img/builder.png');
  position: absolute;
  width: 206px;
height: 205px;
top: 0;
right: 0;
z-index: 100;
}

.banner-right {
  background-color: #FFC329;
  border-radius: 3px;
  position: relative;
  margin-top: 20px;
}

.banner-right::after {
  content: '';
  background-image: url('../img/customer.png');
  position: absolute;
  width: 254px;
  height: 205px;
  top: 0;
right: 0;
z-index: 100;
}

.banner-right .btn, .banner-left .btn{
  margin-left: 30px !important;
  margin-bottom: 55px;
  text-transform: uppercase;
  padding: 17px;
  font-weight: 700;
  font-size: 14px;
}

.banner-heading {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.36;
  color: #272727;
  padding-top: 45px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.banners .btn img {
margin-right: 10px;
}

.container-shadow {
  box-shadow: 0px 3px 8px rgba(90, 86, 81, 0.15);
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.object-name {
  font-size: 24px;
font-weight: 700;
color: #8C8167;
margin-top: 35px;
}

.object-name .fa-bookmark {
  font-size: 18px;
}

.pager-link {
  font-size: 13px;
  color: #B5B5B5;
}

.pager-link-name {
  font-size: 14px;
}

.pager-link img{
  width: 10px;
  margin: 0 5px;
}
.pager li>a, .pager li>span {
  border: none;
}

.pager li>a:focus, .pager li>a:hover {
  background: transparent;
  color: #8C8167;
  
}

.pager li>a:focus .pager-link-name, .pager li>a:hover .pager-link-name {
  color: #1C1C1C;
}

.link-back {
  align-content: center;
 margin: auto;
}
.action-nav {
 
background: rgba(248, 249, 252, 0.7);
}
.action-nav-link {
  color: #7D87A6;
  border-left: 1px solid #D4D9E9;
  align-content: center;
  margin: auto 0;
  padding: 20px 15px;
}

.action-nav-link a:hover, .action-nav-link a:focus {
  color: #1C1C1C;
}

.action-nav .action-nav-link:first-child {
  border: none;
}

.action-nav-link .fa, .fas {
  margin-right: 10px;
}

.object-info {
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px dashed #C4C4C4;
}

.object-heading {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 700;
}
.date-actualization {
  color: #1C1C1C;
  font-weight: 700;
}
.date-adding {
  color: #C4C4C4;
}
.object-info .data {
  color: #777777;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}
.table-and-carousel {
  padding-top: 20px;
}
.carousel-control.left {
  background-image: url('../img/carousel-control-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-control.right {
  background-image: url('../img/carousel-control-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.glyphicon-chevron-left:before {
  content: '';
} 

.glyphicon-chevron-right:before {
  content: '';
}

.carousel-control {
  width: 30px;
}

.table-icon {
color: #D4D9E9;
max-width: 20px;
}

.table-data {
  color: #777777;
}

.object-info .selected {
  color: #7D87A6;
}
.selected:hover .fa-star, .selected:focus .fa-star {
  color: #FFC329;
}

.feed-back {
  background: #F8F9FC;
border-radius: 3px;
margin-top: 10px;
margin-left: 0;
margin-right: 0;
}

.feed-back-textarea {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 15px;
}
.feed-back-textarea .btn {
  position:absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}
.feed-back-textarea textarea {
  position: relative;
  border: none;
  width: 600px;
  min-height: 50px;
  resize: vertical;
  outline: none;
  overflow: hidden;
}

.feed-back-textarea textarea::placeholder {
  width: 600px;
  height: 50px;
  color:  #444444;
padding-left: 40px;
padding-top: 15px;
  background: url('../img/comment.svg') no-repeat;
  background-position: 16px 15px;
}

.description {
  color: #8C8167;
  font-size: 12px;
}

.feed-back-block .description {
  margin-left: 15px;
  margin-top: 10px;
}

.input-date {
position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
 margin-top: 20px;
}

.input-date input {
  border: none;
  overflow: hidden;
  width: 196px;
  height: 50px;
position: relative;
z-index: 100;
}

.input-date input::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url('../img/date.svg') no-repeat center;
  background-size: contain;
}

.chouse-date-block {
border-left: 1px dashed #B5BFDC;
padding: 0 25px;
}

.chouse-date-heading {
  margin-top: 40px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 700;
  margin-right: 50px;
}
.chouse-date-block .description {
  max-width: 320px;
}
.customer-table {
margin-bottom: 30px;
margin-top: 25px;
}
.customer-table .bold {
  font-weight: 700;
  color: #1C1C1C;
}

.customer-textarea {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 40px;
}
.form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}
.feed-back-form {
  padding: 0 30px;
  position: relative;
}

.feed-back-form.disabled::before {
content: '';
position: absolute;
width: 439px;
height: 172px;
background-color: #ffffff;
opacity: 0.5;
z-index: 100;
}

.feed-back-form .description {
  text-align: center;
}
.customer-textarea textarea {
  position: relative;
  border: none;
  width: 380px;
  min-height: 50px;
  resize: vertical;
  outline: none;
  overflow: hidden;
}

.customer-textarea textarea::placeholder {
  width: 360px;
  height: 50px;
  color:  #444444;
padding-left: 40px;
padding-top: 15px;
  background: url('../img/comment.svg') no-repeat;
  background-position: 16px 15px;
}

.subscription-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #272727;
}

.subscription {
  background-color: #FFC329;
border-radius: 3px;
margin-bottom: 40px;
margin-left: 0;
margin-right: 0;
}

.subscription img {
  margin-left: -15px;
}

.psevdo {
  position: relative;
}

.subscription .psevdo::after {
  content: '';
  position: absolute;
  background: url('../img/builder2.png') no-repeat;
width: 160px;
height: 160px;
left: 0;
bottom: -47px;
}

.carousel.disabled::before {
  content: '';
position: absolute;
width: 440px;
height: 272px;
background-color: #ffffff;
opacity: 0.7;
z-index: 2;
}

.table-and-carousel .btn-transparent {
  position: absolute;
  z-index: 3;
  bottom: 120px;
  font-weight: 400;
  color: #7D87A2;
}


.partnership-picture {
  position: relative;
  width: 100%;
  height: 457px;
}

.partnership-picture::after {
  content: '';
  position: absolute;
width: 813px;
height: 457px;
background: url(../img/partnership-picture.png) no-repeat;
right: 0;
}

.flex-column {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.partnership-heading {
font-size: 24px;
font-weight: 700;
color: #2F2F2F;
line-height: 1.9;
margin-bottom: 15px;
margin-top: 30px;
}

.partnership-description {
  color: #626262;
font-size: 18px;
line-height: 1.5;
max-width: 650px;
}

.column-heading {
  color: #272727;
  font-size: 18px;
  line-height: 2.5;
  font-weight: 700;
}

.column-description {
font-size: 16px;
line-height: 1.6;
color: #626262;
}

.partnership-steps {
margin-top: 100px;
margin-bottom: 100px;
}

.partnership-steps .btn {
  margin: 45px auto;
  position: relative;
}

.partnership-steps .btn::before {
  content: '';
  position: absolute;
  background: url('../img/register-bgc.svg') no-repeat;
  width: 154px;
height: 150.99px;
top: -50px;
left: -5px;
 z-index: -1;
}

.partnership-steps .moneybox::before {
  content: '';
  position: absolute;
  background: url('../img/register-bgc.svg') no-repeat;
  width: 154px;
height: 150.99px;
  z-index: -1; 
}

.partnership-steps .procents::before {
  content: '';
  position: absolute;
  background: url('../img/register-bgc.svg') no-repeat;
  width: 154px;
height: 150.99px;
 top: -16px;
 left: -5px;
z-index: -1;
}

.partnership-programs {
  margin-top: 60px;
  margin-bottom: 70px;
}

.partnership-program {
  margin-top: 35px;
}

.partnership-steps .procents {
  position: relative;
}

.partnership-program .column-description b {
  color: #272727;
}

.partnership-program .column-description a {
  text-decoration: underline;
  color: #936D13;
}

.partnership-program .column-description a:hover {
  color: #FFC229;
}

.partnership-program .btn {
  margin-top: 30px;
}

.partnership-action .flex-column {
  max-width: 470px;
  padding: 10px;
}

.partnership-action .column-description {
  margin-bottom: 15px;
}

.partnership-action img {
  margin-bottom: 15px;
}

.main.black {
  background-color: rgba(31, 31, 31, 0.9);
  margin: 0;
height: 1200px;
}

.map-header {
  margin-top: 155px;
  left: 0;
  right: 0;
  padding: 20px 0;
}

.map-header .btn {
padding: 15px 45px;
margin-left: 10px;
}

.map-header .btn-transparent:hover, .map-header .btn-transparent:focus  {
color: #fff;
}

.map-heading {
  color: #D4D9E9;
  font-size: 24px;
  font-weight: 700;
}

.map-header .buttons .close {
  padding: 0 15px;
}

.map-content {
position: relative;
text-align: center;
}

.map-content svg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-content path {
opacity: 0;
cursor: pointer;
transition: 0.3s;
}

.map-content path:hover {
  opacity: 0.8;
  transition: 0.3s;
  fill: #FFC229;
  stroke: #fff;
  stroke-width: 2;
}

.dropdown.map-dropdown {
  position: absolute;
    width: 100%;
}

#north-west-dropdown {
  top: -300px;
  left: 230px;
  
}



#central-dropdown {
  top: -235px;
  left: 80px;
}

#uralskiy-dropdown {
  top: -200px;
  left: 400px;
}

#privolzhskiy-dropdown {
  top: -150px;
  left: 200px;
}

#siberian-dropdown {
  top: -200px;
  left: 500px;
}

#far-eastern-dropdown {
  top: -300px;
  left: 800px;
}

#southern-dropdown {
  top: -70px;
  left: 130px;
}

#north-kavkasian-dropdown {
  top: -50px;
  left: 0px;
}

.dropdown.map-dropdown #north-west-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/north-west.png') no-repeat;
  width: 184px;
  height: 103px;
  top: -103px;
 
}

.dropdown.map-dropdown #central-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/central.png') no-repeat;
  width: 182px;
  height: 116px;
  top: -116px;
}

.dropdown.map-dropdown #uralskiy-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/uralskiy.png') no-repeat;
  width: 214px;
  height: 132px;
  top: -132px;
}


.dropdown.map-dropdown #privolzhskiy-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/privolzhskiy.png') no-repeat;
  width: 191px;
  height: 112px;
  top: -112px;
}

.dropdown.map-dropdown #siberian-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/siberian.png') no-repeat;
  width: 181px;
  height: 113px;
  top: -113px;
}

.dropdown.map-dropdown #far-eastern-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/far-eastern.png') no-repeat;
  width: 182px;
  height: 96px;
  top: -96px;
}

.dropdown.map-dropdown #southern-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/southern.png') no-repeat;
  width: 214px;
  height: 132px;
  top: -132px;
}

.dropdown.map-dropdown #north-kavkasian-dropdown::before {
  content: '';
  position: absolute;
  background: url('../img/north-kavkasian.png') no-repeat;
  width: 196px;
  height: 102px;
  top: -102px;
}

.dropdown.map-dropdown .dropdown-menu>li{
 border-bottom: 1px dashed #D4D9E9;
 margin: 3px 15px;
 padding: 0;
}

.dropdown.map-dropdown .dropdown-menu>li:first-child, .dropdown.map-dropdown .dropdown-menu>li:last-child {
  border: none;
  margin-bottom: 15px;
}
.dropdown-header .title {
  font-weight: 700;
  font-size: 17px;
  color: #2B2518;
}

.psevdo-check {
  width: 23px;
  height: 23px;
  line-height: 23px;
  color: #fff;
  border: 1px solid #FFC329;
border-radius: 3px;
background-color: #FFC329;
font-size: 18px;
padding-left: 2px;
margin-right: 5px;
}

.map-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.map-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 14px;
  color: #707070;
cursor: pointer;
}

.map-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: #FFFFFF;
border: 1px solid #D4D9E9;
border-radius: 3px;
margin-right: 5px;
}

.map-checkbox:checked+label::before {
  border-color: #FFC329;
  background-color: #FFC329;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.map-checkbox+label:hover {
  color: #2B2518;
}